= simple_form_for(@despesa) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nomedespesa, label: "Nomedespesa"
    = f.input :datavencimento, label: "Datavencimento"
    = f.input :valor, label: "Valor"
    = f.input :saldo, label: "Saldo"

  .form-actions
    = f.submit "Salvar"
