= simple_form_for(@receita) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nomereceita, label: "Nomereceita"
    = f.input :datavencimento, label: "Datavencimento"
    = f.input :valor, label: "Valor"
    = f.input :saldo, label: "Saldo"

  .form-actions
    = f.submit "Salvar"
