= simple_form_for(@pagamento) do |f|
  = f.error_notification

  .form-inputs
    = f.association :despesa, label: "Nome"
    = f.input :formapagamento, label: "Formapagamento"
    = f.input :data, label: "Data"
    = f.input :valor, label: "Valor"

  .form-actions
    = f.submit "Salvar"
